{% extends "base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Alexandra glads to see you here!</h1>
        <div class="bio">
          <p>She is an Indie iOs developer. Very fascinated about Apple technologies in mobile development<br>
            And rock it on her own way!<br>
          Here you can find out her projects and stories how she became a professional iOs engineer
          </p>
      </div>
      </div>
{% endblock %}
