{% extends "base.html" %}
{% block title %} Divine App {% endblock %}
{% block nobreadcrumb %}{% endblock %}
{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Alexandra's glad to see you here!</h1>
        <div class="bio">
          <p>She is an Indie iOs developer. Very fascinated about Apple technologies in mobile development.<br>
          Here you can find out her projects and stories how she becomes a professional iOs Engineer.<br>
          And rock it on her own way!
          </p>
      </div>
      </div>
      <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Blog</h2>
        <p><a class="btn btn-default" href="{% url 'blog:index' %}">View blog posts &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Apps</h2>
        <p><a class="btn btn-default" href="{% url 'apps:index' %}">View apps projects &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Contacts</h2>
        <p><a class="btn btn-default" href="{% url 'contacts:index' %}">View contacts details &raquo;</a></p>
      </div>
    </div>
{% endblock %}
