{% extends "base.html" %}
{% block title %} DA Contacts page {% endblock %}
{% block breadcrumb %}
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li class="active">Contacts</li>
{% endblock %}

{% block content %}
<!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
  <h2>GitHub</h2>
  <a href="https://github.com/yoalexandra" target="blank" style="color: grey"><i class="fab fa-github"></i></a>
  <p><a class="btn btn-default" href="https://github.com/yoalexandra" target="blank">Visit GitHub account &raquo;</a></p>
</div>
<div class="col-md-4">
  <h2>Twitter</h2>
  <a href="https://twitter.com/alejandra_wwsl" target="_blank" style="color: grey"><i class="fab fa-twitter"></i></a>
  <p><a class="btn btn-default" href="https://twitter.com/alejandra_wwsl" target="_blank">Visit Twitter account &raquo;</a></p>
</div>
<div class="col-md-4">
  <h2>E-mail</h2>
  <i class="far fa-envelope" style="color: grey"></i>
  <p><a class="btn btn-default" href="{% url 'sendemail:index' %}">Email to Alexandra &raquo;</a></p>
</div>
</div>
{% endblock %}
