{% extends "base.html" %}
{% block title %} DA Blog page {% endblock %}
{% block breadcrumb %}
        <li><a href="{% url 'homepage' %}">Home</a></li>
	{% if blog %}
            <li><a href="{% url 'blog:index' %}">Blog</a></li>
        {% else %}
            <li class="active">Blog</li>
        {% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}

  <!-- Example row of columns -->
  <div class="row">
  <div class="col-md-6">
    <p>Published date: {{ post.published_date }}</p>
    <h2>{{ post.title }}</h2>
    <h4>{{ post.text|linebreaksbr }}</h4>
  </div>
  <div class="col-md-6">

  </div>
  </div>
{% endfor %}
{% endblock %}
